doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    style(type='text/css').
      body{
      width:100% !important;
      min-width: 100%;
      -webkit-text-size-adjust:100%;
      -ms-text-size-adjust:100%;
      margin: 0;
      padding: 10px;
      box-sizing: border-box;
      }
      body, table.body, h4, td {
      color: #222222;
      font-family: "Helvetica", "Arial", sans-serif;
      font-weight: normal;
      text-align: center;
      line-height: 1.0;
      }
      h4 {
      border-bottom: 1px solid #ddd;
      font-size: 28px;
      margin-top: 0;
      word-break: normal;
      }
      body, table.body, td {font-size: 14px;line-height:19px;}
      table {
      border-spacing: 0;
      border-collapse: collapse;
      padding:5px;
      }
      td {
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      border-collapse: collapse !important;
      padding:5px;
      }
      table, tr, td {
      padding: 0;
      vertical-align: top;
      text-align: left;
      }
  body
    img(src="http://www.maestralsolutions.com/img/logo.png" width="200px")
    table.body
      tr
        td.center(align='center', valign='top')
          center
            h4 Maestral-Bot Slack Scrum Summary Report
            table(style="border-collapse:collapse;border-spacing:0;color:#4a4a4a;font-size:13px;font-weight:500;width:100%;text-align: left;")
              thead
                tr(style="background-color: #B4D8E7")
                  th(width="25%") Engineer
                  each question in questions
                    th(width="25%")= question
              tbody
                each member in members
                  tr(style="border-bottom-color:#ddd;border-bottom-style:solid;border-bottom-width:3px;line-height:15px; padding:5px")
                    if member.profile.real_name_normalized
                      th= member.profile.real_name_normalized
                    else
                      th= member.name
                    each answer in member.answers
                      td= answer.join('\n')
                    if member.reason
                      td(colspan="3")= member.reason



